
<div class="row">
  <div class="col-md-12">
    <strong>
      <h1> {{recipe.name}}</h1>
    </strong>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <img src="{{recipe.imagePath}}" alt="" style="max-height: 110px">
    </div>
  </div>
  <br>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <strong> Description -</strong> {{recipe.desc}}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    Ingredients -
  </div>
</div>
