<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="RecipeForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class=" col-xs-offset-4 col-12">
      <div class="col-xs-2">
        <button class="btn btn-success" type="submit">Save</button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-danger" type="button">Cancel</button>
      </div>
    </div>
  </div>
      <div class="col-xs-12  fieldSpacing">
        <label>Dish</label>
        <input type="text" class="form-control" formControlName="dish" />
      </div>
      <div class="col-xs-12  fieldSpacing">
        <label>Dish ImageURL </label>
        <input type="text" formControlName="imagePath" id="imagePath" class="form-control" />
      </div>
      <div class="col-xs-12">
        <img src="" class="img-responsive" />
      </div>
      <div class="col-xs-12  fieldSpacing">
        <label>Description</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="description"
          rows="6"
        ></textarea>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10" formArrayName="recipeIngredients" >
          <div class="row" 
          *ngFor="let ingred of getControls(); let i = index;"
          [formGroupName]="i" >
             <div class=" col-xs-8">
              <input type="text" formControlName="ingredient" class="form-control" />
            </div>
            <div class="col-xs-2">
              <input type="number" formControlName="amount" class="form-control" />
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
