/* You can add global styles to this file, and also import other style files */
.hrRecipeButton {
    visibility: hidden;
}

.cursorPointer {
    cursor: pointer;
}

.activeLinkz {
  background-color: aqua;
}

a {
  cursor: pointer;
}